apiVersion: appprotect.f5.com/v1beta1
kind: APPolicy
metadata:
  name: "bank-waf-default-blocking-policy"
spec:
  policy:
    name: "bank-waf-default-blocking-policy"
    template:
      name: POLICY_TEMPLATE_NGINX_BASE
    applicationLanguage: utf-8
    enforcementMode: blocking
    response-pages:
      - responsePageType: default
        responseActionType: custom
        responseContent: "The request URL was rejected. Please consult with your administrator. Your support ID is: <%TS.request.ID()%>"
        responseHeader: "HTTP/1.1 403 Forbidden\r\nCache-Control: no-cache\r\nPragma: no-cache\r\nConnection: close"
