name: "bank.f5labs.dev - Functional Testing"
on: workflow_dispatch
permissions:
  contents: read
jobs:
  run-k6-tests:
    permissions:
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: api.github.com:443 github.com:443 bank.f5labs.dev:443
      - name: Set commit status as pending
        uses: myrotvorets/set-commit-status-action@ba12b0c43983e41f47ee3615bee0fe1c19a5b569 # master
        with:
          sha: ${{ github.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: pending
          context: ${{ github.workflow }}
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Run k6 baseline test
        uses: grafana/k6-action@v0.3.1
        with:
          filename: tests/bank/bank-k6-tests-baseline.js
          flags: --vus 50 --duration 10s
      - name: Set final commit status
        uses: myrotvorets/set-commit-status-action@ba12b0c43983e41f47ee3615bee0fe1c19a5b569 # master
        if: always()
        with:
          sha: ${{ github.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          context: ${{ github.workflow }}
